.user-comment {
    background-color: rgb(255, 204, 204);
    box-shadow: 2px 2px 2px rgb(96, 0, 0);
}

.user-name{
    text-transform: capitalize;
}

.reviews h1 {
    text-align: center;
}
.user-review {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/*---------------------- comments form -------------------*/

.commenting-user-container {
    display: flex;
    width: 85vw;
}

.user-pic {
    margin: 5px;
    border-radius: 50%;
}


.commenting-profile-pic {
    border-radius: 50%;
    margin: 1.5rem .5rem;
}

.comment-form-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.comment-form-container h1 {
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
}

.comment-form-container h2 {
    margin: 2.54rem 1rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(178, 51, 78);
}

.comment-form-container button {
    margin: 1rem .7rem;
    width: 90%;
}

label {
    margin: 10px;
    font-size: 1.1rem;
}

.add-comment-text {
    width: 800px;
    margin: 5px 5px 25px 5px;
    font-size: 1.1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    .reviews {
        margin: 1rem;
        padding: 1rem;
    }
    
    .user-name {
        margin: 15px 13px;
        align-self: flex-end;
    }
    
    .user-comment {
        padding: 15px;
        border-radius: 2rem;
    }
    
    .user-rating {
        float: right;
        margin-right: 5px;
    }
    
    .commenting-user-container {
        display: flex;
        width: 85vw;
    }
    
    .user-pic {
        margin: 5px;
        border-radius: 50%;
    }
    
    .commenting-profile-pic {
        border-radius: 50%;
        margin: 1.5rem .5rem;
    }
    
    .comment-form-container h1 {
        text-align: center;
        margin: 1rem;
        text-decoration: underline;
        color: rgb(76, 23, 23);
    }
    
    .comment-form-container h2 {
        margin: 2.8rem 1rem;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-weight: bold;
        color: rgb(178, 51, 78);
    }
    
    .comment-form-container button {
        margin: 2rem 1.7rem;
        width: 70%;
    }
    
    label {
        margin: 10px;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
    }
    
    .add-comment-text {
        width: 300px;
        margin: 5px 5px 25px 5px;
        font-size: 1.1rem;
    }
    .comment-form-container {
        margin: 0 auto;
        width: 80%;
        /* background-color: rgb(135, 116, 153); */
        /* box-sizing: border-box; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .reviews {
        margin: 1rem;
        padding: 1rem;
    }
    
    .user-name {
        text-transform: capitalize;
        margin:5px 13px;
    }
    
    .user-comment {
        padding: 15px;
        border-radius: 2rem;
    }
    
    .user-rating {
        float: right;
        margin-right: 5px;
    }

    .commenting-user-container {
        display: flex;
        width: 90vw;
    }

    .commenting-profile-pic {
        border-radius: 50%;
        margin: 1.5rem .5rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 701px) {
    .commenting-user-container {
        display: flex;
        width: 600px;
    }
    .comment-form-container{
        margin: 3rem;
    }
    
    .comment-form-container h1 {
        text-align: center;
        margin: 1rem;
        text-decoration: underline;
        color: rgb(76, 23, 23);
    }
    
    .comment-form-container h2 {
        margin: 2.8rem 1rem;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-weight: bold;
        color: rgb(178, 51, 78);
    }
    
    .comment-form-container button {
        margin: 1rem .7rem;
        width: 90%;
    }
    
    label {
        margin: 10px;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
    }
    
    .add-comment-text {
        width: 400px;
        margin: 5px 5px 25px 5px;
        font-size: 1.1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
