.games-container{ 
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 25px;
}

.each-game-image {
    border-radius: 2rem;
    margin: 1rem auto;
}

.search-game-title {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

.container2 {
    border: 2px solid black;
    background-color: rgb(135, 135, 135);
    border-radius: 2rem;
    box-shadow: 5px 2px 2px rgb(96, 96, 96);
}

.form-container {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.search-title {
    padding: 1rem;
    margin-left: 1rem;
}
.search-bar {
    width: 90%;
    margin: 0 auto;
}

.search-button {
    margin-bottom: 2rem;
    width: 8rem;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .games-container{ 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .games-container{ 
        grid-template-columns: repeat(3, 1fr);
    }

    .search-bar {
       width: 70%;
    }
}

@media only screen and (min-width: 701px) {
    .games-container{ 
        grid-template-columns: repeat(3, 2fr);
    }

    .search-bar {
        width: 500px;
     }
}


@media only screen and (min-width: 900px) {
    .games-container{ 
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .games-container{ 
        grid-template-columns: repeat(6, 1fr);
    }
}