.game-info-container {
    margin: 1rem;
    padding: 1rem;
    /* background-color: rgb(255, 246, 246); */
    /* display: flke; */
}

.game-title-container {
    display: flex;
    flex-direction: row;
    /* width: 55vw; */
    /* background-color: red; */
    justify-content: flex-start;
}
.game-image {
    border-radius: 5px;
    transform: scale(1.2);
    
}

.game-description {
    padding: 7px;
}
.game-title{
    font-size: 1.8rem;
}

.heart-button {
    width: 20%;
}
.game-description h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(82, 82, 82);
}



@media only screen and (max-width: 700px) {
    .game-details {
        margin: 0 40px;
        /* padding-left: 1px;  */
        width: 80%;
    }

    .game-image {
        margin-top: 45px;
        margin-left: 15px;
        border-radius: 5px;
        transform: scale(1.4);  
    }
    
    .game-description {
        margin-top: 4rem;
        font-size: 1.18rem;
        /* background-color: green; */
    }

}

@media only screen and (min-width: 600px) {
    .game-description {
        margin: 8rem 1rem 3rem 0;
        font-size: 1.2rem;
        background-color: #fff;
    }

    .game-image {
        margin-top: 6rem;
        margin-left: 3.5rem;
        transform: scale(2);  
    }

    .game-details {
        margin: 0 6rem;
        /* background-color: red; */
        width: 80%;
    }

}

@media only screen and (min-width: 768px) {
    .game-image {
        margin-top: 5.5rem;
        margin-left: 3.5rem;
        transform: scale(2);
    }

    .game-details {
        margin: 0 40px; 
        width: 85%;
        /* background-color: red;   */

    }
    
    .game-description {
        margin-top: 8rem;
        margin-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .game-image {
        border-radius: 5px;
        transform: scale(3);
        margin: 10rem 8rem;
    }

    .game-details {
        margin: 0 0 0 6rem;
        width: 80%;
    }

    .game-title{
        font-size: 1.8rem;
    }
    
    .game-description h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(82, 82, 82);
    }
}

@media only screen and (min-width: 1200px) {}










